<%= render 'pages/home' unless user_signed_in? %>
  


<div id="flows" class="transitions-enabled">
  <% @flows.each do |flow| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(flow.image.url(:medium)), flow %>
      <div class="panel-body">
        <p><%= flow.description %></p>
        <p><strong><%= flow.user.email if flow.user %></strong></p>
        <% if flow.user == current_user %>
          <div class="actions">
            <%= link_to edit_flow_path(flow) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
            <% end %>
            <%= link_to flow, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
            <% end %>
          </div>  
        <% end %>
      </div>
    </div>
  <% end %>
</div>









