<div id="flows" class="transitions-enabled">
  <% @flows.each do |flow| %>
    <div class="box panel panel-default">
      <%= image_tag flow.image.url(:medium) %>
      <div class="panel-body">
        <%= flow.description %>
        <%= flow.user.email if flow.user %>
        <%= link_to 'Show', flow %>
        <% if flow.user == current_user %>
          <%= link_to 'Edit', edit_flow_path(flow) %>
          <%= link_to 'Destroy', flow, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>









